
NewWare-Soft/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NewWare-Soft/obj/Debug/NewWare-Soft.csprojAssemblyReference.cache
NewWare-Soft/NewWare-Soft.csproj
NewWare-Soft/.vs/NewWare-Soft/v16/.suo
NewWare-Soft/obj/Debug/NewWare-Soft.csprojAssemblyReference.cache
NewWare-Soft/NewWare-Soft.csproj
